# MongoDB connection string
MONGODB_URI=mongodb+srv://fipay-wallet_db:Chi123%40%23%24@fipay-wallet.vrhx15k.mongodb.net/?appName=Fipay-wallet
# Optional client origin (vite dev server)
CLIENT_ORIGIN=https://fipaybank.onrender.com

ENABLE_DEBUG=false
NODE_ENV=production
